#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk
export DEB_VERSION

# main packaging script based on dh7 syntax
%:
	dh $@ --with dkms

# put upstream version for dkms module
override_dh_dkms:
	dh_dkms -V $(DEB_VERSION)

# do not start or enable it on install
override_dh_installsystemd:
	dh_installsystemd --no-start --no-enable
